@page
@model IndexModel
@{
    ViewData["Title"] = "ZAGG Brands VPN Client";
}

<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://zaggvpnclient.blob.core.windows.net/zagg-vpnclient/zagg_brands_vpn_small.png" alt="" width="400" height="202" /></p>
<h2 style="text-align: center;">ZAGG Brands VPN Client Repository</h2>
<p style="text-align: center;"><a href="https://zaggvpnclient.blob.core.windows.net/zagg-vpnclient/GlobalProtect.msi">Download Windows 32-bit VPN Client</a></p>
<p style="text-align: center;"><a href="https://zaggvpnclient.blob.core.windows.net/zagg-vpnclient/GlobalProtect64.msi">Download Windows 64-bit VPN Client</a></p>
<p style="text-align: center;"><a href="https://zaggvpnclient.blob.core.windows.net/zagg-vpnclient/GlobalProtect.pkg">Download Mac 32-bit/64-bit VPN Client</a></p>
<p style="text-align: center;"><a href="https://zaggvpnclient.blob.core.windows.net/zagg-vpnclient/PanGPLinux.tgz">Download Linux VPN Client</a></p>
